// html[data-theme] {
//   *,
//   *::before,
//   *::after {
//     transition: background-color 0.35s ease, color 0.35s ease,
//       border-color 0.35s ease, box-shadow 0.35s ease, fill 0.35s ease,
//       stroke 0.35s ease;
//   }
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: var(--font-regular);
  color: var(--text-primary);
  background-color: var(--bg-main);
  user-select: none;
}

/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: #000000;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.523);
  border-radius: 50px;
}
