main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  .form-container {
    height: fit-content;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;

    .image {
      position: absolute;

      width: 150%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .details {
      width: 150%;
      //   background-color: green;
      padding-top: 18rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        color: var(--text-primary);
        background-color: var();
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      input,
      button {
        border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 1rem;
        border-color: var(--border-color);
        background-color: var(--input-bg);
        color: var(--text-primary);
      }
      button {
        background: var(--button-bg);
        color: var(--button-text);
        font-size: 1rem;
        cursor: pointer;
      }
    }
    p {
      padding-top: 1rem;
      .toggleAuthForm {
        color: var(--button-text);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
