/* 
   THEME VARIABLES
*/

/* Light Theme */
[data-theme="dark"] {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f7;
  --text-primary: #FDE9D9;
  --text-secondary: #555555;
  --input-bg: #ffffff;
  --border-color: #e5e5e5;
  --form-bg: linear-gradient(0.25turn, #966e5a, 25%, #080808);
  --button-bg: linear-gradient(90deg, #F5651F, #F1976E);
  --button-text: #ffffff;
}

/* Dark Theme */
:root {
  --bg-primary: #0f0f1a;
  --bg-secondary: #1a1a2e;
  --text-primary: #FDE9D9;
  --text-secondary: #b0b0c3;
  --input-bg: #4B362D;
  --border-color: #2a2a3d;
  --form-bg: linear-gradient(0.25turn, #966e5a, 25%, #080808);
  --button-bg: linear-gradient(90deg, #F5651F, #F1976E);
  --button-text: #FDE9D9;
}
